{% extends 'base.html' %}
{% block main %}
  <main class="container mt-3">
    <!-- HERO -->
    <section class="jumbotron text-center mt-4"
             style="background: url('https://images.unsplash.com/photo-1486021479598-b8f84e644642?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3582&q=80') center bottom;">
      <h1 class="display-4">Всякие туры</h1>
      <p class="lead">{{ subtitle }}</p>
      <p class="mt-5 w-50 mx-auto">{{ description }}</p>
    </section>
    <!-- CARDS -->
    {% include 'cards.html' %}
  </main>
{% endblock %}
